/* Configurações da tela Tablet(744x1133) */
@media screen and (min-width: 744px) and (max-width: 1280px) {
    /* CSS */
  
    body {
      padding: 80px;
      width: 744px;
      height: 1133px;
      justify-content: center;

    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 584px;
      height: 973px;
    }
  
    #img {
      height: 300px;
      width: 300px;
    }
  
    h1 {
      font-size: 40px;
    }
  
    p {
      font-size: 20px;
    }
  
    button {  
      background-color: #c47f17;
      font-size: 24px;
    }
  }